node_modules
*.log*
.nuxt
.nitro
.cache
.output
.DS_Store
.idea
# .vscode
.gitignore
.vitest-reporter-html
# **/src/generate/**
**/oldSrc/**
**/report_unitTest/**
**/report_languageChange/**
env/.env.dev.admin
env/.env.dev.client

# remove all build files
apps/*/dist
apps/desktop/dist
docs/.obsidian/workspace.json

rh-docs
