[submodule "libraries/docpal-document-editor"]
	path = libraries/docpal-document-editor
	url = https://gitea.wclsolution.com/DocPal/docpal-document-editor.git
[submodule "libraries/tiptap-extension-pagination"]
	path = libraries/tiptap-extension-pagination
	url = https://gitea.wclsolution.com/DocPal/ui-tiptap-extension-pagination.git
[submodule "libraries/V-form"]
	path = libraries/V-form
	url = https://gitea.wclsolution.com/DocPal/V-form.git
[submodule "docpal-documentation"]
	path = docpal-documentation
	url = https://gitea.wclsolution.com/DocPal/docpal-documentation.git
