shamefully-hoist=true
strict-peer-dependencies=false
child-concurrency=6
engine-strict=true
network-concurrency=32
recursiveInstall=true
registry=https://registry.npmjs.org/
# registry=http://132.148.160.61:40279/repository/wcl-npm-proxy/
gitShallowHosts[]=github.com
gitShallowHosts[]=gist.github.com
gitShallowHosts[]=gitlab.com
gitShallowHosts[]=bitbucket.com
gitShallowHosts[]=bitbucket.org
gitShallowHosts[]=gitea.wclsolution.com

# Allow specific packages to run build scripts (for CI/CD)
enable-pre-post-scripts=true
